* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro_text_wrapper {
  margin: 3rem;
}
.intro_text_wrapper > p {
  font-size: 1.8rem;
}
.intro_image {
  border-radius: 20px;
  width: 50rem;
  height: 50rem;
}
.start_btn {
  width: 15rem;
  height: 7rem;
  border: none;
  margin: 20px;
  font-size: 1.8rem;
  border-radius: 3rem;
  background-color: #e6e6e6;
}
.start_btn:hover {
  background-color: #ffadbc;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 787px) {
  .intro_image {
    width: 40rem;
    height: 40rem;
  }
}
@media screen and (max-width: 320px) {
  .intro_image {
    width: 30rem;
    height: 30rem;
  }
}
