* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro_wrapper {
    display: flex;
    flex-direction: column;
}
.intro_text_wrapper {
    margin: 20px;
}
.intro_text_wrapper > p {
    font-size: 1.5em;
}
.intro_image {
    border-radius: 20px;
}
.start_btn {
    width:15vw;
    height:7vh;
    border: none;
    margin: 20px;
    font-size: 1.5em;
    border-radius: 30px;
    background-color: #e6e6e6;
}
.start_btn:hover{
    background-color: #FFADBC;
    color: white;
}