* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro_wrapper {
    display: flex;
    flex-direction: column;
}
.intro_text_wrapper {
    margin: 20px;
}
.intro_text_wrapper > p {
    font-size: 1.5em;
}
.start_btn {
    width:20vw;
    height:10vh;
    border: none;
    margin: 20px;
}