footer {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
}
.links > a {
  text-decoration: none;
  color: inherit;
}
.links {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
