@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 50px 0;
}
.header_title a{
    text-decoration: none;
    color: inherit;
    font-family: 'GmarketSansMedium';
}
.header_logo {
    margin-top: 10px;
}
.header_logo a{
    text-decoration: none;
    color: inherit;
}